#container1 {
  background-color: #EEEEEF;
  padding: 10%;
}

#container2 {
  background-color: #F7DBD7;
  text-align: center;
  padding: 10%;
  margin-left: auto;
  margin-right: auto;
}

#container3 {
  background-color: #9CC0E7;
}

nav, .navbar {
  margin-bottom: 0;
}

.jumbotron {
  border-radius: 15%;
  margin-bottom: 4em;
  background-color: #EEEEEF;
}

#exampleInputFile {
  margin-left: 41%;
  margin-bottom: 3%;
}

#container4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  padding-right: 15%;
}


